<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../includes/head.ejs') %>
</head>
<body class="bg-[#f9fafb] p-0 m-0 h-[100vh]">
  <div class="signup-container mx-auto container flex items-center justify-center bg-[#f9fafb] mt-[5%]">
    

    <div class="auth-container flex h-[100vh] bg-[#f9fafb] items-center justify-center">
      
     
      
      <div class="authCard flex items-center justify-evenly m-[30px] w-full h-[800px]">

        <div 
          class="auth-left flex-1 
          bg-gradient-to-tr from-[#4f46e5] via-[#9911f3] to-[#34ef78] 
          flex p-[40px] text-white items-center h-[500px] w-[20%] 
          justify-center flex-col rounded-[4px]"
        >
          <strong>Welcome!</strong>
          <span class="font-semibold font-serif">Create your account...</span>
          <div class="signup-message">
            <div class="p-2 mb-2">
               <% if (success_msg) { %>
                <p class="text-green-500 text-justify text-lg font-medium"><%= success_msg[0] %></p>
               <% } %>
            </div>

            <div class="mb-2 p-1">
              <% if (error_msg) { %>
                <span class="text-rose-500 font-serif font-semibold"><%= error_msg %></span>
              <% } %>
            </div>

            <div class="mb-2 p-1">
              <% if(error) { %>
                <span class="text-rose-500 font-serif font-semibold"><%= error %></span>
              <%}%> 
            </div>
          </div>
        </div>
        <div class="auth-right flex-1 p-[0px]">
          <form action="/api/v1/auth/register" method="POST" class="form p-0.5" enctype="multipart/form-data">
            <!-- <input type="hidden" name="" value=""/> -->
            <div class="signup-head-text mb-5">
              <strong class="flex text-justify font-serif text-pretty text-[16px] font-semibold text-gray-800" id=""></strong>
            </div>
            <div class="social-link flex space-x-1 items-center justify-evenly bottom-1 mb-[2px] mt-1">
              <a href="http://localhost:6002/auth/google" class="no-underline"><img src="/images/google.png" class="w-6 h-6 rounded-full border border-violet-400 flex items-center justify-center" alt=""></a>
              <a href="http://localhost:6002/auth/facebook" class="no-underline"><img src="/images/facebook.png" class="w-6 h-6 rounded-full border border-violet-400 flex items-center justify-center" alt=""></a>
              <a href="http://localhost:6002/auth/github" class="no-underline"><img src="/images/github.png" class="w-6 h-6 rounded-full border border-violet-400 flex items-center justify-center" alt=""></a>
            </div>
            <div class="mb-0.5 p-0">
              <div class="profile-image">
                <input type="file" class="w-full p-[8px] text-slate-950 mb-0.5" name="profile" id="profile" required>
              </div>

              <div class="mb-[12px] p-0">
                <input type="text" class="w-full p-[8px] text--[18px] font-semibold text-slate-950 mb-1 border-[#ddd] border-solid border outline-none focus:border-blue-700 focus:shadow-[0, 0, 5px rgba(79, 70, 229, 0.3)]" name="name" id="name" placeholder="Enter your full name..." required autocapitalize="off" autofocus>
                <input type="text" class="w-full p-[8px] text--[18px] font-semibold text-slate-950 mb-0.5 border-[#ddd] border-solid border outline-none focus:border-blue-700 focus:shadow-[0, 0, 5px rgba(79, 70, 229, 0.3)]" name="username" id="username" placeholder="Enter your username..." required autocapitalize="off" autofocus>
              </div>

              <div class="mb-1 p-0">
                <input type="email" class="w-full p-[8px] text--[18px] font-semibold text-slate-950 mb-1 border-[#ddd] border-solid border outline-none focus:border-blue-700 focus:shadow-[0, 0, 5px rgba(79, 70, 229, 0.3)]" name="email" id="email" placeholder="Enter your email..." required autocapitalize="off" autofocus>
                <input type="password" class="w-full p-[8px] text--[18px] font-semibold text-slate-950 mb-0.5 border-[#ddd] border-solid border outline-none focus:border-blue-700 focus:shadow-[0, 0, 5px rgba(79, 70, 229, 0.3)]" name="password" id="password" placeholder="Enter your password..." required autocapitalize="off" autofocus>
                <span class="signup_eye_icons relative"><i class="fa fa-eye absolute top-1 right-3 cursor-pointer" aria-hidden="false"></i></span>
              </div>
              
              <div class="btn-signup mb-0.5 p-0.5">
                <button type="submit" class="signup-btn w-full p-2 bg-[#4f46e5] text-white border-none rounded-[4px] cursor-pointer transition-[0.3s] duration-150 ease-in-out uppercase text-[20px] hover:bg-[#6366f1]">Register</button>
              </div>
            </div>

            <div class="signup-cont p-0.5 w-full">
              <div class="parma-link flex items-center justify-between">
                <p class="text-black text-[15px] font-medium">Have an account? <a href="/api/v1/auth/login" class="text-blue-700 hover:text-blue-500 text-[16px] font-semibold">Login</a></p>

                <a href="/api/v1/passwords/forgot" class="text-blue-700 hover:text-blue-500 text-[16px] font-semibold">Forgot Password</a>
              </div>

              <div class="terms-links">
                <p class="text-black text-[16px] font-semibold">By clicking these 
                  <a href="/api/v1/auth/" class="text-blue-700 hover:text-blue-500 text-[16px] font-semibold">Terms and Conditions</a> 
                  <span class="text-rose-700">and</span>
                  <a href="/api/v1/auth/" class="text-blue-700 hover:text-blue-500 text-[16px] font-semibold">Privacy Policy</a>
                </p>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <%- include('../includes/footer.ejs') %>
  </footer>
  <script src="/script/scripts.js"></script>
</body>
</html>